NEXT_PUBLIC_APP_NAME="UniCare Connect"
NEXT_PUBLIC_APP_URL="http://localhost:3001"
NEXT_PUBLIC_DEMO_MODE=false

MONGODB_URI=mongodb+srv://wijesinghesachithra_db_user:FWYl041SdTpN1Olj@unicare-connect-cluster.qfgc1m4.mongodb.net/?appName=unicare-connect-cluster
MONGODB_DB_NAME=unicare_connect


NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCl7WXwMuoGbIgF4FuYqMM5vDREOdbqxPQ"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="unicare-connect.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="unicare-connect"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="unicare-connect.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="584619923666"
NEXT_PUBLIC_FIREBASE_APP_ID="1:584619923666:web:31c5f9313dea9e94fef50b"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-FTSSG5QCNB"